@media screen and (min-width: 450px) {
.one {
text-align:center;

}

.main {

font-size: 35px;

}

.one img{
border-radius:50%;
width:300px;
height:300px;
}


.content {
margin-left: 20%;
margin-right: 20%;
font-size: 30px;
}

.date {
font-size: 20px;
}

.link {
font-size: 20px;
}


}


@media  screen and (max-width: 450px){


.one {
text-align:center;
}

.one img{
border-radius:50%;
width:200px;
height:200px;
}


.content {
margin-left: 3%;
margin-right: 3%;
font-size: 20px;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.main {
font-size: 25px;
}

.date {
font-size: 15px;
}

.link {
font-size: 15px;
}

